*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#646363;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.ticket-container{
    background:white;
    width:360px;
    border-radius:12px;
    padding:20px; 
}

.title{
    text-align:center;
}

.movie-info{
    display:flex;
    gap:10px;
}

.movie-info img{
    width:90px;
    border-radius:10px;
}

.center{
    text-align:center;
    margin-top:5px;
}

.seats{
    font-weight:bold;
}

.qr-box{
    display:flex;
    justify-content:center;
    margin:15px 0;
}

.qr-box img{
    width:150px;
}

.booking-id{
    text-align:center;
    font-weight:bold;
}

.price-box{
    text-align:center;
    font-size:18px;
}

button{
    width:100%;
    padding:10px;
    border:none;
    background:black;
    color:white;
    margin-top:15px;
    cursor:pointer;
}