
*{
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:
    url("{% static 'images/payment.jpg' %}");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:rgba(255,255,255,0.95);
    width:350px;
    padding:25px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.modes{
    display:flex;
    justify-content:space-around;
    margin:15px 0;
}

input{
    width:100%;
    padding:10px;
    margin:8px 0;
}

.row{
    display:flex;
    gap:10px;
}

button{
    width:100%;
    background:#1d2671;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#c33764;
}

.success{
    color:green;
    margin-top:15px;
    display:none;
}

/* Space between UPI input and QR code */
#upiId{
    display:block;
    margin-bottom:30px;
}

/* QR container spacing */
.qr-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.qr-section img{
    width:120px;
}