{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About | Show Time</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}"/>


  
</head>

<body>

  

  <div class="container">
    <h2>About Show Time</h2>
    <p>
      Welcome to <b>Show Time</b> 🎥  
      This is a simple and user-friendly movie ticket booking system website.
      Here users can view available movies, select show timings, choose seats,
      and book tickets easily.
    </p>

    <div class="box">
      <h2>✨ Our Mission</h2>
      <p>
        Our mission is to make movie ticket booking simple, fast, and easy for everyone.
        We provide an online platform where users can book tickets anytime.
      </p>
    </div>

    <div class="box">
      <h2>🎟️ What We Offer</h2>
      <ul>
        <li>Latest Movies Information</li>
        <li>Show Time Selection</li>
        <li>Seat Selection</li>
        <li>Instant Ticket Booking</li>
        <li>User Friendly Design</li>
      </ul>
    </div>

    <div class="box">
      <h2>⭐ Why Choose Us?</h2>
      <p>
        Show Time is designed for beginners and students to understand how a movie booking
        system works using HTML, CSS, and JavaScript.
      </p>
    </div>

    
  </div>

  

</body>
</html>