<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmed</title>
    <style>
        body{background:#111;color:white;font-family:Arial;text-align:center}
        .box{background:#222;width:400px;margin:auto;margin-top:80px;padding:30px;border-radius:10px}
    </style>
</head>
<body>

<div class="box">
    <h1>🎉 Booking Confirmed!</h1>
    <p>Your tickets have been booked successfully.</p>
    <a href="{% url 'home' %}" style="color:#0f0;">Go Home</a>
</div>

</body>
</html>
